<div class="container">
  <h1>Formulario de Reclamo</h1>
 <form [formGroup]="forma" (ngSubmit)="guardar()">
      <!-- NOMBRE -->
      <div class="row">
        <div class="col-5">
          <label for="fnombre" class="lbl">Nombre</label>
        </div>
      <div>
          <input
          type="text"
          id="fnombre"
          placeholder="Nombre"
          class="txtbox"
          formControlName="nombre"
          [class.is-invalid]="nombreNoValido">
          <small class="text-danger" *ngIf="nombreNoValido">Ingrese mas de 3 letras</small>
      </div>
    </div>

      <!--APELLIDO-->
      <div class="row">
        <div class="col-5">
          <label for="flastName" class="lbl">Apellido</label>
        </div>
        <div>
            <input
            type="text"
            id="flastName"
            placeholder="Apellido"
            class="txtbox"
            formControlName="apellido"
            [class.is-invalid]="apellidoNoValido">
            <small class="text-danger" *ngIf="apellidoNoValido">Ingrese mas de 3 letras</small>
  
        </div>
      </div>


      <div class="row">
        <div class="alinea-btn">
          <button type="submit" class="btn" [disabled]="forma.invalid">Guardar</button>
        </div>
      </div>
  </form>
</div>
<hr> 
      <pre>
       Estado del formulario: {{ forma.valid }}
       <br>
       Status: {{ forma.status }}
      </pre>
      <pre>
       {{ forma.value | json }}
      </pre>
